<?xml version="1.0" encoding="utf-8"?>

<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="Movit.Data.IDatabase,Movit.Data" />
    <typeAlias alias="SqlServer" type="Movit.Data.SQLSugar.SqlDatabase,Movit.Data.SQLSugar" />
  </typeAliases>
  <containers>
    <container name="DBcontainer">
      <type type="IDatabase" mapTo="SqlServer" ></type >
    </container>
  </containers>
</unity>

<!--<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="Movit.Data.IDatabase,Movit.Data" />
    <typeAlias alias="EFDatabase" type="Movit.Data.EF.Database,Movit.Data.EF" />
    <typeAlias alias="IDbContext" type="Movit.Data.EF.IDbContext,Movit.Data.EF" />
    <typeAlias alias="MySql" type="Movit.Data.EF.MySqlDbContext,Movit.Data.EF" />
    <typeAlias alias="SqlServer" type="Movit.Data.EF.SqlServerDbContext,Movit.Data.EF" />
  </typeAliases>
  <containers>
    <container name="DBcontainer">
      <type type="IDatabase" mapTo="EFDatabase" ></type >
      -->
<!-- 默认数据库软件类型：SqlServer,MySql,Oracle,Access,SQLite-->
<!--
      <type type="IDbContext" mapTo="SqlServer" ></type >
      <type type="IDbContext" mapTo="SqlServer" name="SqlServer"></type >
      <type type="IDbContext" mapTo="MySql" name="MySql"></type >
    </container>
  </containers>
</unity>-->