<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <!-- 服务器缓存类型:WebCache、Redis-->
    <add key="CacheType" value="WebCache" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.99.0" newVersion="1.0.99.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <unity>
    <typeAliases>
      <typeAlias alias="IDatabase" type="Movit.Data.IDatabase,Movit.Data" />
      <typeAlias alias="SqlServer" type="Movit.Data.SQLSugar.SqlDatabase,Movit.Data.SQLSugar" />
    </typeAliases>
    <containers>
      <container name="DBcontainer">
        <type type="IDatabase" mapTo="SqlServer" ></type >

      </container>
    </containers>
  </unity>
  <connectionStrings>
    <!--客户生产环境-->
    <!--<add name="BaseDb" connectionString="Server=192.168.105.118;Initial Catalog=E_Commerce_DB;User ID=sa;Password=9NBWdHP4HV8;Pooling=true;Max Pool Size=1024;Min Pool Size=3;" providerName="System.Data.SqlClient" />-->
    <!--客户UAT服务器-->
    <add name="BaseDb" connectionString="Server=192.168.107.108;Initial Catalog=E_Commerce_DB;User ID=sa;Password=LNMSG1hmZ9HN;Pooling=true;Max Pool Size=1024;Min Pool Size=0;" providerName="System.Data.SqlClient" />
    <!--公司开发环境-->
    <!--<add name="BaseDb" connectionString="Server=172.19.50.208;Initial Catalog=E_Commerce_DB;User ID=sa;Password=password@365;Pooling=true;Max Pool Size=1024;Min Pool Size=0;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>