body {
    margin: 0;
    padding: 0;
}

.titlePanel {
    height: auto;
    border: 0px;
}

.gridOuter {
     padding-right:20px;
    background: #fff;
}

.titlePanel .title-search {
    float: none;
    padding-right: 20px;
    padding-top: 15px;
}

.titlePanel .toolbar {
    float: none;
    text-align: right;
    line-height: initial;
    padding: 10px 15px;
}

.tab-content > .tab-pane {
    padding: 10px;
}

.ui-select .ui-select-text {
   border-radius: 4px;
    border: 1px solid #d9d9d9;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding-right:16px;
}

.ui-select.ui-select-focus .ui-select-text {
    border-color: #b62322;
}

.ui-select-option li.on {
    background-color: #facdd0;
    color: #666;
}
/*jqgrid Reset*/
.gridPanel * {
    font-size: inherit;
}

.frozen-div {
    overflow: hidden;
    box-sizing: content-box;
}

.ui-state-default, .ui-widget-content, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-left: 0px;
    border-right: 0px;
}

.ui-jqgrid tr.ui-row-ltr td:last-child {
    border-right: 0px;
}

.ui-jqgrid tr.jqgrow td {
    padding: 5px 5px;
    font-size: 12px;
    color: #5e5e5e;
}

.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    /*padding: 16px 2px 16px 5px;*/
    background: #fafafa;
    font-size: 12px;
    color: #262626;
}

.ui-jqgrid tr.jqgrow.ui-widget-content.ui-state-highlight td {
    color: #fff;
}

.ui-jqgrid .ui-jqgrid-pager {
    border: 0px;
    border-top: 1px solid #cccccc;
}

.ui-jqgrid.ui-widget.ui-widget-content {
    border-bottom: 0px;
}

.ui-jqgrid .ui-jqgrid-pager {
    height: 38px;
}

.ui-jqgrid .ui-pg-table td {
    padding: 4px 1px;
}
/*form table reset*/
.step-pane {
    background: #fff;
    margin-bottom: 0px;
}

.panel {
    margin-bottom: 10px;
}

.panel-default > .panel-heading {
    color: #343434;
    background-color: #fff;
    border-color: #f0f0f0;
}

.panel-title {
    font-size: 14px;
    font-weight: bold;
}

.panel-heading {
    padding: 14px 10px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 30px;
}

.panel-default {
    border-color: transparent;
}

.form .formValue {
    padding: 9px 5px;
}

.form-control, textarea {
    border-radius: 4px;
    border: 1px solid #d9d9d9;
}
/*nav-tabs*/
.nav-tabs > li > a {
    margin-right: 10px;
    border: 1px solid #d9d9d9;
    background: #fafafa;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #eb0014;
    background-color: #fff;
}

.nav-tabs {
    padding-left: 20px;
}
/*details*/
.detail-title {
    font-size: 20px;
    color: #444444;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
}

.formTableOuter {
    margin: 0 70px;
}
/*tables*/
table.searchTable {
    width: 100%;
    table-layout: fixed;
}

    table.searchTable th, table.searchTable td {
        font-weight: normal;
        line-height: 20px;
        padding: 10px 5px;
        color: #666;
        font-size: 12px;
    }

    table.searchTable .formTitle {
        width: 140px;
        padding-left: 20px;
    }

    table.searchTable th {
        font-weight: normal;
        text-align: right;
    }


    table.searchTable.thLeft th {
        text-align: left;
    }

    table.searchTable input {
        margin: 0px 3px;
        border: 1px solid #d9d9d9;
        padding: 0 5px;
        margin: 0;
        border-radius: 3px;
        height: 30px;
        line-height: 30px;
        min-width: 60px;
    }

        table.searchTable input[type=date] {
            width: 140px;
        }

    table.searchTable select {
        width: 80px;
        margin: 0px 3px;
        border: 1px solid #d9d9d9;
        padding: 0;
        margin: 0;
        border-radius: 3px;
        height: 32px;
        line-height: 32px;
        min-width: 120px;
    }

table.formTable {
    width: 100%;
    table-layout: fixed;
    border: 1px solid #D1D1D1;
}

    table.formTable th, table.formTable td {
        line-height: 20px;
        padding: 10px 5px;
        padding-left: 30px;
        font-size: 12px;
        color: #979797;
        border-bottom: 1px solid #D1D1D1;
    }

    table.formTable th {
        color: #555555;
        background: #fafafa;
        font-size: 12px;
        padding-left: 60px;
        text-align: left;
    }

.tableOuter {
    background: #fff;
    overflow: auto;
}

table.lineTable {
    border-spacing: 0;
    border-collapse: collapse;
    width: auto;
}

    table.lineTable.widTable {
        width: 100%;
    }

        table.lineTable.widTable th, table.lineTable.widTable td {
            min-width: initial;
        }

    table.lineTable th, table.lineTable td {
        line-height: 20px;
        padding: 9px 15px;
        color: #666;
        font-size: 12px;
        min-width: 100px;
        font-weight: normal;
        text-align: center;
        border: 1px solid #d9d9d9;
        white-space: nowrap;
    }

    table.lineTable th {
        color: #ffffff;
        background: #209cdc;
        text-align: center;
        padding: 8px 0;
    }

    table.lineTable a {
        color: #2580de;
    }

.btnRow {
    padding: 10px;
    text-align: center;
}

    .btnRow .btn + .btn {
        margin-left: 10px;
    }

.btn-primary {
    color: #fff;
    background-color: #e70014;
    border-color: #c40011;
}

    .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
        background-color: #9f0100;
        border-color: #b62322;
    }

.ui-jqgrid .ui-jqgrid-resize-ltr {
    float: right;
    margin: -2px -2px -2px 0;
    border-right: 1px solid #ccc;
}

.form .formValue textarea {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
}

.ui-layout .center-Panel {
    margin-top: 0px;
    margin-right: 0px;
}

.ui-layout .west-Panel {
    margin-left: 0px;
    margin-top: 0px;
}
/*leftTree*/
.lea-left.notShow {
    display: none;
}

    .lea-left.notShow + .lea-right {
        margin-left: 0px;
    }

.lea-left .content {
    overflow: auto;
    padding: 0px;
}

    .lea-left .content .menu {
        display: none;
    }

.content .menu ul li {
    padding-top: 0px;
    margin-bottom: 0px;
}

    .content .menu ul li a {
        font-size: 14px;
        color: #606060;
        line-height: 30px;
        height: auto;
        padding: 10px;
        padding-left: 18px;
        background: #fff;
        text-decoration: none;
    }

        .content .menu ul li a .fa {
            color: #e70012;
            margin-right: 15px;
        }

            .content .menu ul li a .fa.pull-right {
                position: relative;
                top: 7px;
                color: #919191;
            }

    .content .menu ul li.active > a .fa.pull-right {
        transform: rotate(90deg);
    }

    .content .menu ul li.active > a {
        background: #fde4e7;
    }

.popover-menu-sub {
    display: none;
    background: #F8F8F8;
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.18);
}

.content .menu ul li ul li a {
    font-size: 12px;
    color: #606060;
    line-height: 22px;
}

.menu-classB .menuItem.selected {
    color: #e70012;
}

/*--ecommerce index--*/
.ecommerce-cont {
    background: none;
    padding: 5px 15px;
}

    .ecommerce-cont > .title-search {
        padding-left: 50%;
    }

    .ecommerce-cont > .title-search {
        padding-left: 50%;
    }

.cardCont {
    background: #FFFFFF;
    box-shadow: 0 0 15px 0 rgba(184,184,184,0.50);
    padding: 10px;
    border-radius: 11px;
    text-align: center;
    font-size: 18px;
    color: #999999;
    line-height: 24px;
    height: 130px;
}

    .cardCont.noRadius {
        border-radius: 0px;
    }

.cardCont-title {
    line-height: 20px;
    font-size: 18px;
    color: #666666;
    text-align: left;
    padding-left: 15px;
    margin-left: 10px;
    border-left: 4px solid rgb(233,16,32);
}

.colorNum {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.cardTxt {
    padding-bottom: 20px;
    line-height: 20px;
}

    .cardTxt span {
        display: block;
        text-align: center;
        font-size: 16px;
    }

.fontGreen {
    color: #64CC31;
}

.fontYellow {
    color: #FBB326;
}

.fontBrown {
    color: #C4A361;
}
/*t-row*/
.t-row {
    margin: 0px -15px;
    box-sizing: border-box;
}

    .t-row:before, .t-row:after {
        display: table;
        content: "";
    }

    .t-row:after {
        clear: both;
    }

    .t-row > div[class^="col"] {
        box-sizing: border-box;
    }

.col-12 {
    float: left;
    padding: 15px;
    width: 100%;
}

.col-11 {
    float: left;
    padding: 15px;
    width: 91.66666667%;
}

.col-10 {
    float: left;
    padding: 15px;
    width: 83.33333333%;
}

.col-9 {
    float: left;
    padding: 15px;
    width: 75%;
}

.col-8 {
    float: left;
    padding: 15px;
    width: 66.66666667%;
}

.col-7 {
    float: left;
    padding: 15px;
    width: 58.33333333%;
}

.col-6 {
    float: left;
    padding: 15px;
    width: 50%;
}

.col-5 {
    float: left;
    padding: 15px;
    width: 41.66666667%;
}

.col-4 {
    float: left;
    padding: 15px;
    width: 33.33333333%;
}

.col-3 {
    float: left;
    padding: 15px;
    width: 25%;
}

.col-2 {
    float: left;
    padding: 15px;
    width: 16.66666667%;
}

.col-1 {
    float: left;
    padding: 15px;
}


/*--msgCenter--*/
.msgCont {
    padding: 20px;
}

    .msgCont .nav-pills > li + li {
        margin: 0;
    }

    .msgCont .nav-pills > li > a {
        padding: 10px;
        border-radius: 0px;
        font-size: 14px;
        min-width: 100px;
        text-align: center;
        background: #f2f4f5;
    }

    .msgCont .nav-pills > li.active > a {
        background: #e70012;
    }

ul.msgList {
    padding-top: 15px;
}

    ul.msgList li {
        position: relative;
        padding: 11px 20px;
        padding-right: 160px;
    }

        ul.msgList li > a {
            line-height: 20px;
            font-size: 14px;
            color: #444444;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        ul.msgList li > span {
            position: absolute;
            top: 0;
            line-height: 42px;
            right: 20px;
            font-size: 14px;
            color: #999999;
        }

        ul.msgList li:nth-child(odd) {
            background: #f7f9fa;
        }


/*导入模板样式 开始*/
.menu-classB .menuItem.selected {
    color: #e70012;
}

.panel-default.panel-form .panel-heading {
    position: relative;
}

    .panel-default.panel-form .panel-heading .form {
        width: auto;
        margin-right: 30px;
    }

.downloadTemplate {
    font-size: 14px;
    font-weight: bold;
    margin-right: 30px;
}

.panel-heading-title {
    width: 200px;
}

.panel-heading-form {
    margin-left: 220px;
    position: absolute;
    top: 0;
    right: 0;
}

.panel-default.panel-form .panel-body .form th {
    background: #fde4e7;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.panel-default.panel-form .panel-body .form td {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px 0;
}
/*导入模板样式 结束*/
.ui-select-option li {
    line-height: 16px;
    padding:5px;
}
.bbit-tree-node-el {
    display:inline-block;
}